@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="logo" class="container">
    <h1><a href="javascript:void(0)">gallery</a></h1>
    <p>for buying info visit&nbsp;<a target="_blank" href="http://www.etsy.com/shop/darStockmanArt" alt="My Etsy Store">etsy</a>.&nbsp;custom pieces available upon request!</p>
</div>
<div id="banner-wrapper">
    <div class="gallery-threeCol">
        <p>Climbing Violets</p>
        <img src="~/Content/gallery/ClimbingViolets.jpg" />
        <p>Egyptian Blue Violets</p>
        <img src="~/Content/gallery/EgyptianBlueViolets.jpg" />
        <p>Evergreen</p>
        <img src="~/Content/gallery/Evergreen.jpg" />
        <p>Floral Pink and Violet</p>
        <img src="~/Content/gallery/FloralPinkandViolet.jpg" />
    </div>
    <div class="gallery-threeCol">
        <p>Fleur de lis Orange</p>
        <img src="~/Content/gallery/FleurdelisOrange.jpg" />
        <p>Fleur de lis Violet</p>
        <img src="~/Content/gallery/FleurdelisViolet2.jpg" />
        <p>Fleur de lis Yellow</p>
        <img src="~/Content/gallery/FleurdelisYellow.jpg" />
        <p>Fleur de lis Coral</p>
        <img src="~/Content/gallery/FleurdelisCoral.jpg" />
    </div>
    <div class="gallery-threeCol">
        <p>Pink African Violets</p>
        <img src="~/Content/gallery/PinkAfricanViolets.jpg" />
        <p>Fuschia Autumn Tree</p>
        <img src="~/Content/gallery/FuschiaAutumnTree.jpg" />
        <p>Summer Rain</p>
        <img src="~/Content/gallery/SummerRain.jpg" />
        <p>Violets</p>
        <img src="~/Content/gallery/Violets.jpg" />
    </div>


    


   
    
    
    


    <div style="clear: both;"></div>
</div>


<script type="text/javascript">
    $('li[id^="topnav"]').removeClass("current_page_item");
    $("#topnav-gallery").addClass("current_page_item");
</script>
