@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="logo" class="container">
    <h1><a href="javascript:void(0)">gallery</a></h1>
    <p>custom pieces to match any decor available upon request via <a target="_blank" href="http://www.etsy.com/shop/darStockmanArt" alt="My Etsy Store">etsy</a></p>
</div>
<div id="banner-wrapper">
    <div class="gallery-threeCol">
        <p>Fleur de lis Coral</p>
        <img src="~/Content/gallery/FleurdelisCoral.jpg" />
        <p>Initial Series B</p>
        <img src="~/Content/gallery/InitialSeriesB.jpg" />
        <p>New Orleans Lamp Post</p>
        <img src="~/Content/gallery/NewOrleansLampPost.jpg" />
        <p>Fleur de lis Violet</p>
        <img src="~/Content/gallery/FleurdelisViolet2.jpg" />
        <p>Initial Series J</p>
        <img src="~/Content/gallery/InitialSeriesJ.jpg" />
    </div>
    <div class="gallery-threeCol">
        <p>Summer Rain</p>
        <img src="~/Content/gallery/SummerRain.jpg" />
        <p>Initial Series S</p>
        <img src="~/Content/gallery/InitialSeriesS.jpg" />
        <p>Fleur de lis Green</p>
        <img src="~/Content/gallery/FleurdelisGreen.jpg" />
        <p>Floral Pink and Violet</p>
        <img src="~/Content/gallery/FloralPinkandViolet.jpg" />
        <p>Initial Series W</p>
        <img src="~/Content/gallery/InitialSeriesW.jpg" />
    </div>
    <div class="gallery-threeCol">
        <p>Fleur de lis offset Violet</p>
        <img src="~/Content/gallery/FleurdelisoffsetViolet.jpg" />
        <p>Fuschia Autumn Tree</p>
        <img src="~/Content/gallery/FuschiaAutumnTree.jpg" />
        <p>New Orleans Skyline</p>
        <img src="~/Content/gallery/NewOrleansSkyline.jpg" />
        <p>Fleur de lis Orange</p>
        <img src="~/Content/gallery/FleurdelisOrange.jpg" />
        <p>Floral Green and Blue</p>
        <img src="~/Content/gallery/FloralGreenandBlue.jpg" />
    </div>
    <div style="clear: both;"></div>
</div>


<script type="text/javascript">
    $('li[id^="topnav"]').removeClass("current_page_item");
    $("#topnav-gallery").addClass("current_page_item");
</script>
