<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="~/Content/wowSliderStyle.css" media="screen" />
	<script type="text/javascript" src="engine1/jquery.js"></script>

<!-- End WOWSlider.com HEAD section -->

<div id="logo" class="container">
    <h1><a href="#">darci stockman </a></h1>
    <p>A budding artist from the banks of the Mississippi.</p>
</div>
<div id="banner-wrapper">    
    
    <!-- Start WOWSlider.com BODY section id=wowslider-container1 -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
<li><img src="~/Content/wowSlider/images/dscn0864.jpg" alt="J" title="J" id="wows1_0"/></li>
<li><img src="~/Content/wowSlider/images/dscn0868.jpg" alt="Fleur d'Pink" title="Fleur d'Pink" id="wows1_1"/></li>
<li><img src="~/Content/wowSlider/images/dscn0869.jpg" alt="Fleur d'Orange" title="Fleur d'Orange" id="wows1_2"/></li>
<li><img src="~/Content/wowSlider/images/dscn0872.jpg" alt='"Fleur"al Pattern Blue' title='"Fleur"al Pattern Blue' id="wows1_3"/></li>
<li><img src="~/Content/wowSlider/images/dscn0875.jpg" alt='"Fleur"al Pattern Red' title='"Fleur"al Pattern Red' id="wows1_4"/></li>
<li><img src="~/Content/wowSlider/images/dscn0877.jpg" alt="B" title="B" id="wows1_5"/></li>
<li><img src="~/Content/wowSlider/images/dscn0878.jpg" alt="W" title="W" id="wows1_6"/></li>
<li><img src="~/Content/wowSlider/images/dscn0879.jpg" alt="French Quarter Lamp Post" title="French Quarter Lamp Post" id="wows1_7"/></li>
<li><img src="~/Content/wowSlider/images/dscn0880.jpg" alt="Red Leaf" title="Red Leaf" id="wows1_8"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="J"><img src="~/Content/wowSlider/tooltips/dscn0864.jpg" alt="J"/>1</a>
<a href="#" title="Fleur d'Pink"><img src="~/Content/wowSlider/tooltips/dscn0868.jpg" alt="Fleur d'Pink"/>2</a>
<a href="#" title="Fleur d'Orange"><img src="~/Content/wowSlider/tooltips/dscn0869.jpg" alt="Fleur d'Orange"/>3</a>
<a href="#" title='"Fleur"al Pattern Blue'><img src="~/Content/wowSlider/tooltips/dscn0872.jpg" alt='"Fleur"al Pattern Blue'/>4</a>
<a href="#" title='"Fleur"al Pattern Red'><img src="~/Content/wowSlider/tooltips/dscn0875.jpg" alt='"Fleur"al Pattern Red'/>5</a>
<a href="#" title="B"><img src="~/Content/wowSlider/tooltips/dscn0877.jpg" alt="B"/>6</a>
<a href="#" title="W"><img src="~/Content/wowSlider/tooltips/dscn0878.jpg" alt="W"/>7</a>
<a href="#" title="French Quarter Lamp Post"><img src="~/Content/wowSlider/tooltips/dscn0879.jpg" alt="French Quarter Lamp Post"/>8</a>
<a href="#" title="Red Leaf"><img src="~/Content/wowSlider/tooltips/dscn0880.jpg" alt="Red Leaf"/>9</a>
</div></div>
<a class="wsl" href="http://wowslider.com">HTML Picture Gallery Template by WOWSlider.com v2.8</a>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
	</div>
    <script src="~/Scripts/wowslider.js"></script>
    <script src="~/Scripts/script.js"></script>

<!-- End WOWSlider.com BODY section -->
</div>