@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="logo" class="container">
    <h1><a href="javascript:void(0)">blog</a></h1>
    <p>Coming Soon</p>
</div>

<script type="text/javascript">    
    $('li[id^="topnav"]').removeClass("current_page_item");
    $("#topnav-blog").addClass("current_page_item");    
</script>
